# Supabase Configuration
VITE_SUPABASE_URL=https://aitozobldvwcspaqesvt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFpdG96b2JsZHZ3Y3NwYXFlc3Z0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5MzU4NTIsImV4cCI6MjA4NzUxMTg1Mn0.DmINhXZOGYzh20eltJTbl9h38lGdH7FjFox6Ou6R4Rg
